[package]
name = "bevy_mod_outline"
version = "0.2.4"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A mesh outlining plugin for Bevy."
readme = "README.md"
homepage = "https://github.com/komadori/bevy_mod_outline/"
repository = "https://github.com/komadori/bevy_mod_outline/"
keywords = ["gamedev", "bevy", "outline"]
categories = ["game-engines", "rendering"]

[dependencies]
bevy = { version = "0.8", default-features = false, features = [
    "bevy_asset",
    "bevy_render",
    "bevy_pbr",
    "bevy_core_pipeline",
] }
thiserror = "1.0"

[dev-dependencies]
bevy = { version = "0.8", default-features = false, features = [
    "bevy_winit",
    "x11",
] }

[features]
default = ["align16", "bevy_ui"]
align16 = []
bevy_ui = ["bevy/bevy_ui", "bevy/bevy_sprite", "bevy/bevy_text"]

[[example]]
name = "shapes"
path = "examples/shapes.rs"

[[example]]
name = "render_layers"
path = "examples/render_layers.rs"

[[example]]
name = "animated_fox"
path = "examples/animated_fox.rs"
required-features = [
    "bevy/animation", "bevy/bevy_gltf", "bevy/png", "bevy/bevy_scene"
]